main{
	width:80%;
  margin:0 auto;
  font-family:calibri;
}

div h3{
  font-size:20px;
  margin-top:20px;
  color:#059DD6;
  font-weight:bold;
}

h4{
  font-size:16px;
  color:#036EBD;
  font-weight:normal;
  font-weight:bold;
}



/*---------------my own timeline ------------------*/
.timeline3{
  width:100%;
  border-collapse:collapse;
  font-size:14px;
  overflow: visible;
  margin:0 auto;
  text-align:center;
  float:left;
  position:relative;
  margin-bottom:20px;
}


.smaller{
  font-family:calibri;
  font-size:14px;
  color:grey;
  text-align:center;
  width:12.6%;
  height:12.6%;
  position:relative;
}

.larger1{
  width:28%;
  font-size:14px;
  border-collapse:collapse;
  position:relative;
  float:left;
}

.medium1{
  width:20.6%;
  position:relative;
}


.line_circle, .line_circle3{
  border-left: 4px solid blue;
  height:10rem;
  margin-top:-10rem;
  margin-bottom:0px;
  padding-bottom:0px;
  margin-left:10rem;
  position:relative;
}

.circle_s{
	border:1px solid;
    position:relative;
	height:1.5rem;
	width:1.5rem;
    top:2rem;
    border: 1px solid #999;
    border-radius: 50%;
    background-color: #fff;
	margin-left:9.3rem;
	z-index:2;
	
 }
 
 #first_circle .circle_s{
	 top:0em;
	 z-index:1;
 }
 
 #first_circle .line_circle{
	 top:10rem;
	 z-index:1;
 }

 #first_circle .date_text{
	 top:-1.8rem;
	 /*color:pink;*/
	 font-weight:bold;
 }
 
 #first_circle .line_text{
	 margin-top:-3rem;
	 margin-bottom:6rem;
	 font-weight:bold;
 }
 
.line_text{
  position:relative;
  margin-left:11rem;
  font-size:16px;
  margin-top:-1.2rem;
  width:7rem;
  float:left;
  font-weight:bold;
}

.date_text{
  margin-left:-0.2em;
  font-size:16px;
  margin-top:0.5rem;
  position:relative;
  width:10rem;
  font-weight:bold;
}


.medium1 p{
	position:relative;
  background:rgba(153,255,255,0.2);
  font-size:16px;
  border-radius:20px;
  margin: 0 5px;
  padding:10px;
  margin-left:0px;
  margin-right:10px;
}

.line_circle3{
    height: 12rem;
    margin-top:-10rem;
  }
#last_circle{
	margin-top:-2rem;
}
	
.smaller p{
	width:80%;
	margin:0 auto;
	font-weight:bold;
}
	
/* bar charts-------------------------------------------------------------------*/


/* -------------------------------------------------pie charts --------------*/
#containerC1, #containerC2, #containerC3, #containerC4, #containerC5, #containerC6, #containerC7, #containerC8, #containerC9, #containerC10, #containerC11,#containerC12,#containerC13,#containerC14,#containerC15,#containerC16,#containerC17, #containerC18{

  float:left;
  width:120px;
  position:relative;
  text-align:justify;
  height:120px;
  margin-bottom:5px;
  margin-top:5px;
  margin-left:5px;
}

#containerC19, #containerC20, #containerC21, #containerC22, #containerC23, #containerC24, #containerC25, #containerC26, #containerC27, #containerC28, #containerC29,#containerC30, #containerC31, #containerC32{

  width:120px;
  height:120px;
  float:left;
  position:relative;
  text-align:justify;
  margin-bottom:5px;
  margin-top:5px;
  margin-left:5px;

}

/*
#containerC33, #containerC34, #containerC35, #containerC36{
    margin-bottom:5px;
    margin-top:5px;
    float:left;
    position:relative;
    align:justify;
    display:inline;
    width:120px;
    height:120px;
    margin-left:5px;
}

*/
.table_of_stars{
  width:100%;
  margin-top:2%;
  border-collapse:collapse;
  font-size:18px;
  color:slategrey;
  font-weight:bold;
}

.table_of_stars td{
  border:3px solid white;
  border-collapse:collapse;
  padding:10px;
  
}


.decrease{
  width:100%;
  position:relative;
  float:left;
  border-collapse:collapse;
}

.decrease img{
  width:4em;
  height:2em;
}


#containerC41, #containerC42, #containerC43,#containerC44,#containerC45, #containerC46, #containerC47,#containerC48{
  width:80%;
  height:80%;
}

.circles54{
  width:20%;
  padding-bottom:25px;
  padding-top:25px;
  padding-left:10px;
}
.arrow54{
  align-items:center;
  display:flex;
  position:relative;
  vertical-align: middle;
  top:6em;
}
.text_BB {
  font-size:20px;
  text-align:center;
  Font-weight:bold;
  margin-right:20px;
}

.writing1 p{
  font-size:14px;
  font-family:calibri;
  color:slategrey;
}

.writing1 ul{
	padding:2%;
	margin:0.01%;
}

.writing1 ul li{
	margin-left:3%;
}

.chart_bar{
	width:80%;
	margin:0 auto;
}
